h1 {
    text-align: center;
    text-decoration: underline;
}

.container {
    background-color: lightsalmon;
   }

body {
    background-color: rgb(208, 187, 228);
   }

.mid-col { 
    border-left:1px solid #ccc; border-right: 1px solid #ccc;
} 
