

<!-- <!DOCTYPE html> -->

<!-- <html> -->
<!-- <head>

</head> -->

  <body>



<div class="container">
  <div> <h1> The <page-title></page-title> Page!</h1></div>
  <br>

    <div class="row justify-content-center">
  
      <div class="col-3">
        <movie-list></movie-list>
      </div>
  
      <div class="col-3" style="border-left:3px solid rgb(236, 197, 236); border-right: 3px solid #ccc;">
        <fav-photos></fav-photos>
      </div>
  
      <div class="col-3">
        <chores-list></chores-list>
      </div>
    </div>
  </div>
  
  <hr>

  
  <fav-links></fav-links>

</body>
<!-- </html> -->

  